<footer class="footer">
    <a class="button"  href="#start" ><img src="./images/ico-arrow.svg" /></a>
    <div class="pages">
      <p>Articles</p>
      <p>Books</p>
      <p>Events</p>
      <p>Reasons</p>
      <p>Tips</p>
    </div>
    <div class="social_media">
      <p><a class="sm" href="https://adalab.es">Twitter</a></p>
      <p><a class="sm" href="https://adalab.es">Instagram</a></p>
      <p><a class="sm" href="https://adalab.es">Mastodon.social</a></p>
    </div>
    <p>
      <small> &copy; 2022 <br />we &hearts; components</small>
    </p>
  </footer>