<footer class="footer">
  <a class="button" href="#start"><img src="./images/ico-arrow.svg" /></a>
  <div class="pages">
    <p>
      <a class="link" href="https://adalab.es" target="_blank">Articles </a>
    </p>
    <p><a class="link" href="https://adalab.es" target="_blank">Books </a></p>
    <p><a class="link" href="https://adalab.es" target="_blank">Events </a></p>
    <p><a class="link" href="https://adalab.es" target="_blank">Reasons </a></p>
    <p><a class="link" href="https://adalab.es" target="_blank">Tips </a></p>
  </div>
  <div class="social_media">
    <p><a class="link" href="https://adalab.es" target="_blank">Twitter</a></p>
    <p>
      <a class="link" href="https://adalab.es" target="_blank">Instagram</a>
    </p>
    <p>
      <a class="link" href="https://adalab.es" target="_blank"
        >Mastodon.social</a
      >
    </p>
  </div>
  <p>
    <small> &copy; 2022 <br />we &hearts; components</small>
  </p>
</footer>
