<header class="header">
    <a href="https://adalab.es"  target="_blank"
      ><img src="./images/ico-menu.svg" alt="menu icon" class="menu_icon" />
    </a>
    <div class="company" id="start">
      <h1 class="title">ANONYMOUS PROXY</h1>
      <p class="slogan">In hac habitasse platea dictumst.</p>
      <a href="#communication"
        ><img
          src="./images/ico-scroll-down.svg"
          alt="scroll icon"
          class="scroll_icon"
      /></a>
    </div>
  </header>
