*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-style: normal;
    --brand-grey: #4a4a4a;
    --brand-black:#000000;
    --brand-orange: #f26002 ;
    --brand-backgroud: #EFF9FF  ;
    --brand-footer:  #304268;
    --brand-skyblue: #8CCBEA;
    --brand-title: "Roboto Slab", serif;
    --brand-body: "Roboto", sans-serif;
}

h1{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
  
  }

h2{   
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

  .header{
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   background-image: url('../images/cover.jpeg') ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
  
}

.menu_icon {
   background-color: #0271BC ;
   padding: 0.75rem;
   position: sticky;
   top: 0;
   z-index: 1;
}

.company {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    padding-top: 25rem;
    gap: 1.2rem;
    
}

.title{
    color: white;
    text-align: center;
    font-size: 3rem;
    
}
.slogan{
    color: white;
    font-family: var(--brand-body);
    
}
.scroll_icon{
    border-color: green;
    border-radius: 50%;
    padding: 0.60em;
    background-color: white;
    width: 2.7rem;
}

.hero{
    margin-inline: 1rem;
    margin-block: 2rem;
}
.message{
    color: var(--brand-skyblue);
    font-family: var(--brand-body);
    padding-block: 0.6rem ;
}
.message2 {
    color: var(--brand-grey);
    font-family: var(--brand-body);
    padding-block: 0.8rem;
    font-size: 1.1rem;
    text-align: justify;
    
}
.reasons {
    
    background-color: var(--brand-backgroud);
    text-align: center;
    padding-block: 3rem;
    height: 100%;
    width: 100%;
    margin-inline: 1rem;
   }

.list{
    color: var(--brand-black);
    font-family: var(--brand-body);
    font-size: 1.1rem;
    text-align: center;
    text-justify: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2rem;
    padding-block: 2rem;
    padding-inline: 10rem;
   
}

.footer {
    
}